<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All incomes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Income value in cent</td>
            <td>Creation timestamp</td>
            <td>Update timestamp</td>
            <td>Person name</td>
            <td>Person surname</td>
            <td>Source name</td>
            <td>Dlete</td>
            <td>Edit</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="income : ${allIncomes}">
            <td th:text="${income.id}">1</td>
            <td th:text="${income.incomeValueInCent}">1_000_000</td>
            <td th:text="${#temporals.format(income.creationTimestamp, 'dd-MM-yyyy')}">2020</td>
            <td th:text="${#temporals.format(income.updateTimestamp, 'dd-MM-yyy')}">2020</td>
            <td th:text="${income.person.name}">Maniek</td>
            <td th:text="${income.person.surname}">P.</td>
            <td th:text="${income.incomeSource.sourceName}">SDA</td>
            <td>
                <button type="button" class="btn btn-danger">
                    <a href="#" th:href="@{'/incomes/delete/' + ${income.id}}">Delete income</a>
                </button>
            </td>
            <td>
                <button class="btn btn-warning"><a href="#" th:href="@{'/incomes/edit/' + ${income.id}}">Edit income</a>
                </button>
            </td>

        </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-success">
        <a href="#" th:href="@{/incomes/add-form}">Add income</a>
    </button>
</div>
</body>
</html>